<%= render :partial => 'links/header' %>
<h2><%=l('custom_menu.add_title')%></h2>

<% labelled_tabular_form_for :custom_menu, @link, :url => { :controller => 'links' }, :html => { :method => :post } do |f| %>
	<%= render :partial => 'links/form', :locals => { :f => f } %>
	<%= submit_tag l('custom_menu.add'), :name => "add" %>
<% end %>